#app{
    display: flex;
    flex-direction: row;
}

.CombatDebugging{
    display: flex;
    flex-direction: column;
}
.BattleActionHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.BattleActionHeader button{
    margin: 0px;
    padding: 0px;
    height: 50%;
}