#App{
    background-color: yellow;
}
#inventorySlotsParent{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: purple;


}
.InventorySlot{
    height: 128px;
    background-color: blue;
    width: 128px;
    border-style: solid;
    border-color: red;

}