#GameWindow {
    padding: 5px;
}

#GameLogDiv {
    display: flex;
    flex-direction: row;
    height: 600px;
}

#TextSide {
    display: flex;
    flex-direction: column;
}

#TextHistory {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    width: 450px;
    overflow-y: auto;
}

.HistoryEntry {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    width: 95%;
    border-style: dashed;


    line-height: 1.5;
}

.HistoryEntry p {
    margin: 12px;
}

#IOPanel {
    margin-top: 15px;
    padding: 5px;
    width: 100%;
    /*box-shadow: 0px 5px 5px var(--mainTextcolor);*/
}

.playerInput {}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--mainTextcolor);
    color: inherit;
    border: none;
    font: inherit;
    outline-color: none;

}

input::placeholder {
    color: inherit;
    border: none;
    font: inherit;
    text-shadow: 0 0 var(--textGlow) rgb(125, 250, 0);
}

#submitBtn {
    background: transparent;
    color: inherit;
    border: none;
    font: inherit;
    text-shadow: 0 0 var(--textGlow) rgb(125, 250, 0);
}

.Dialog {
    color: rgb(193, 0, 252);
    text-shadow: 0 0 5px rgb(193, 0, 252);
}

.Combat {
    color: rgb(140, 3, 3);
    text-shadow: 0 0 5px rgb(140, 3, 3);
}