#app{
    display: flex;
    flex-direction: row;
}
#TextSide{
    display: flex;
    flex-direction: column;
}
#TextHistory{
    flex-grow: 1;
    height:  600px;
    display: flex;
    flex-direction: column-reverse;
    
    overflow-y: auto;
}