#app{
    display: flex;
    flex-direction: row;
}
p {
    white-space: pre-line;
}

#TextSide{
    display: flex;
    flex-direction: column;
}
#TextHistory{
    flex-grow: 1;
    height:  600px;
    display: flex;
    flex-direction: column-reverse;
    
    overflow-y: auto;
}

.HistoryEntry{
    /*background-color: red;*/
    padding: 0px;
    margin: 0px;
}
.HistoryEntry p{
    padding: 0px;
    margin: 2px;
}
